@font-face {
	font-family: "Ionicons";
	src: url("../fonts/ionicons.ttf");
}

.file-icon {
	font-family: "Ionicons";
	text-align: center;
	font-size: 16px;
	width: 20px;
}

#open-files-container .file-icon {
	display: inline-block;
	width: 20px;
	padding-top: 2px;
}

#project-files-container ins {

}
#project-files-container a {
	padding-left: 10009px;
}
#project-files-container .jstree-open > a , #project-files-container .jstree-closed > a {
	background: url('../img/folder.png') no-repeat 10006px 4px !important;
	background-size: 16px 16px !important;
	padding-left: 10026px !important;
}
.panel ul li .file-icon span {
    background-position-x: 0px !important;
    background-position-y: 0px !important;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
}
.panel ul li .file-icon span.generic {
    background-image: url('../img/file.png') !important;
}
.panel ul li .file-icon span.doc-html {
    background-image: url('../img/doc-html.png') !important;
}
.panel ul li .file-icon span.doc-css {
    background-image: url('../img/doc-css.png') !important;
}
.panel ul li .file-icon span.doc-js {
    background-image: url('../img/doc-js.png') !important;
}
.panel ul li .file-icon span.doc-php {
    background-image: url('../img/doc-php.png') !important;
}
.panel ul li .file-icon span.doc-scss {
    background-image: url('../img/doc-scss.png') !important;
}
.panel ul li .file-icon span.doc-xml {
    background-image: url('../img/doc-xml.png') !important;
}
.panel ul li .file-icon span.doc-img {
    background-image: url('../img/doc-img.png') !important;
}
.panel ul li .file-icon span.doc-htaccess {
    background-image: url('../img/doc-htaccess.png') !important;
}
.panel ul li .file-icon span.doc-txt {
    background-image: url('../img/doc-txt.png') !important;
}

.panel #working-set-option-btn {
    background-image: url('../img/files_action.png') !important;
/*    background-size: 23px 13px;*/
    padding-left: 8px !important;
    padding-right: 8px !important;
    border-radius: 10px;

}
.panel #working-set-option-btn:hover, .panel #working-set-option-btn:active,  #working-set-header .git-close-not-modified:hover,  #working-set-header .git-close-not-modified:active {
    background-color: #CAD4E9;
    border-color: #ADB9D1;
/*    background-size: 23px 13px;*/
}
.panel #working-set-option-btn:active , #working-set-header .git-close-not-modified:active  { box-shadow: inset rgba(0,0,0,0.3) }
/*
.panel .octicon.octicon-remove-close {
    background-image: url('../img/close.png') !important;
}
*/
#working-set-header .git-close-not-modified { right: 35px !important; border-radius: 10px !important; }
#working-set-header .git-close-not-modified i {
    color: #8791a9 !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) !important;
}
.CodeMirror .modal-bar {
    background: linear-gradient(to bottom, #e5e5e5 0%,#d6d6d6 100%);
    border-top: 1px solid #f0f0f0;
}
.CodeMirror-linenumber.CodeMirror-gutter-elt {background-color: #FBFBFB !important;}
